{% extends "about_me_template.html" %}
{% block title %}Nick Jarvis{% endblock %}

{% block name %}Nick Jarvis{% endblock %}

{% block image %}/static/Me.png{% endblock %}

{% block student_info %}
    <li>Second Year Computer Science Student</li>
    <li>Vice President - Miami ACM Chapter</li>
{% endblock %}

{% block facts %}
    <li>Favorite Language - Python (with Golang as a close second)</li>
    <li>I enjoy working on games in my free time. I generally use the open-source Godot Game Engine</li>
{% endblock %}
