{% extends "about_me_template.html" %}
{% block title %}Tyler Davis{% endblock %}

{% block name %}Tyler Davis{% endblock %}

{% block image %}/static/Tyler.jpeg{% endblock %}

{% block student_info %}
    <li>Third Year Computer Science Major, Business Analytics Minor</li>
    <li>Secretary - Miami ACM Chapter</li>
    <li>Miami University Boogiemen</li>
{% endblock %}

{% block facts %}
    <li>Favorite Language - Java because I'm most comfertable, however Python and Ruby are growing on me.</li>
    <li>Favorite video game is Borderlands 2. Enjoy playing Rocket League in spare time</li>
    <li>I play Ultimate Frisbee for Miami, and enjoy sports in general</li>
{% endblock %}
