body {
    /* This applies to everything within a <body> tag */
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 0.5in;
}

.mlaHeader {
    text-indent: 0;
}

#mlaTitle {
    text-align: center;
    text-indent: 0;
}
