.page {
    break-after: always;
}

body * {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    line-height: 200%;
    text-indent: 0.5in;
}

.centered {
    text-indent: 0;
    text-align: center;
}

h1, h2, h3 {
    font-size: 12pt;
}

h1 {
    text-indent: 0;
    text-align: center;
    font-weight: bold;
}

h2 {
    text-indent: 0;
    text-align: left;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

#references p {
    padding-left: 0.5in;
    text-indent: -0.5in;
}
