{% extends "about_me_template.html" %}
{% block title %}Nick Hagerty{% endblock%}
{% block name %}Nick Hagerty{% endblock %}
{% block  student_info %}
<li>Freshman Software Engineering Major, Mechanical Engineering Minor</li>
<li>Chick Evans Scholar</li>
{% endblock %}
{% block facts %}
<li>I designed and built a speaker system with speakers from a totalled Audi A6</li>
<li>I'm building a 3D printer from 2 broken inkjet printers</li>
<li>Java is easily my favorite coding language</li>
{% endblock %}
