{% extends "about_me_template.html" %}
{% block title %}Jayson Rook{% endblock %}

{% block name %}Jayson Rook{% endblock %}

{% block image %}/static/Jayson.jpg{% endblock %}

{% block student_info %}
    <li>Third Year Physics / Computer Science Major</li>
    <li>Member of ACM, SPS, Miami University Programming Team</li>
    <li>May ultimately end up in electrical engineering</li>
{% endblock %}

{% block facts %}
    <li>Favorite Language - between Java and JavaScript. English is cool too.</li>
    <li>Hobbies - tennis, board games, guitars and synthesizers</li>
{% endblock %}
