{% extends "base_template.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <div class=" card-panel grey">
            <h1 class="white-text">Contact Miami ACM</h1>
            <div class="row">
                <div class="col s4">
                     <a href="https://github.com/miami-acm">
                         <div class="card-panel teal hoverable center-align">
                            <span class="white-text">Miami ACM Github</span>
                         </div>
                    </a>
                </div>
                <div class="col s4">
                    <a href="https://github.com/miami-acm/public-materials">
                        <div class="card-panel teal hoverable center-align">
                            <span class="white-text">Miami ACM Website Github</span>
                        </div>
                    </a>
                </div>
                <div class="col s4">
                    <a href="https://miamioh.campuslabs.com/engage/organization/acm">
                        <div class="card-panel teal hoverable center-align">
                            <span class="white-text">Miami ACM Hub</span>
                        </div>
                    </a>
                </div>
            </div>
            <ul class="collapsible">
                <li class="hoverable">
                    <div class="collapsible-header">Norm Krumpe - Adviser</div>
                    <div class="collapsible-body grey lighten-2">
                        <span>Email - <a href="mailto:krumpenj@miamioh.edu?Subject=ACM%20Website" target="_top">krumpenj@miamioh.edu</a></span>
                    </div>
                </li>
                <li class="hoverable">
                    <div class="collapsible-header">John Meyer - President</div>
                    <div class="collapsible-body grey lighten-2">
                        <span>Email - <a href="mailto:meyerjm@miamioh.edu?Subject=ACM%20Website" target="_top">meyerjm@miamioh.edu</a></span>
                    </div>
                </li>
                <li class="hoverable">
                    <div class="collapsible-header">Nick Jarvis - Vice President</div>
                    <div class="collapsible-body grey lighten-2">
                        <span>Email - <a href="mailto:jarvisna@miamioh.edu?Subject=ACM%20Website" target="_top">jarvisna@miamioh.edu</a></span>
                    </div>
                </li>
                <li class="hoverable">
                    <div class="collapsible-header">Tyler Davis - Secretary</div>
                    <div class="collapsible-body grey lighten-2">
                        <span>Email - <a href="mailto:davistj7@miamioh.edu?Subject=ACM%20Website" target="_top">davistj7@miamioh.edu</a></span>
                    </div>
                </li>
                <li class="hoverable">
                    <div class="collapsible-header">Nick Wayne - Treasurer</div>
                    <div class="collapsible-body grey lighten-2">
                        <span>Email - <a href="mailto:waynens@miamioh.edu?Subject=ACM%20Website" target="_top">waynens@miamioh.edu</a></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}