{% extends "about_me_template.html" %} {% block title %}Joe Smith{% endblock %} {% block name %}Joe Smith{% endblock %}
{% block image %}https://github.com/0x326.png{% endblock %} {% block student_info %}
<li>Computer Science; Graduating in 2020</li>
<li>ACM @ Miami University: President</li>
<li>Aspires to be an author of technical standards that increase computer security across the board</li>
{% endblock %} {% block facts %}
<li>Favorite computer-science topics: Peer-to-peer and cryptography</li>
<li>My favorite language is Python but my first language was JavaScript</li>
<li>Projects I think are up-and-coming:</li>
<ul>
    <li>
        <a href="https://ipfs.io/">IPFS</a> (and other projects by Protocol Labs)</li>
    <li>
        <a href="https://altheamesh.com/">Althea</a>
    </li>
    <li>
        <a href="https://redox-os.org/">Redox</a>
    </li>
    <li>
        <a href="https://material.io/components/">Material Components</a>
    </li>
    <li>
        <a href="https://potassco.org/">clingo</a> (grounder and solver, Answer Set Programming)</li>
</ul>
{% endblock %}
