<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - Miami University ACM</title>

    <!-- Material Design stuffs -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body>
    <!-- From a design standpoint, we should reflect the values of our club in the design of this website. -->
    <!-- Jarvis' opinion - While ACM is a formal organization, Miami's ACM chapter wants to feel more like
         a family. The design should feel cozy and fun, but serious enough that we won't be shy to share it. -->

    {% block header %}
    <nav class="nav-extended" style="background-color: #ED293B">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Miami University ACM</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Projects</a></li>
            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent hide-on-med-and-up show-on-medium">
                <li class="tab"><a href="/">Home</a></li>
                <li class="tab"><a href="/">About Us</a></li>
                <li class="tab"><a href="/">Contact</a></li>
                <li class="tab"><a href="/">Projects</a></li>
            </ul>
        </div>
    </nav>
    {% endblock %}

    {% block content %}
      <div class="container">
      </div>
    {% endblock %}

    {% block footer %}
    {% endblock %}
  </body>
    {% block scripts %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    {% endblock %}
</html>
