{% extends "about_me_template.html" %}
{% block title %}Anthony Romano{% endblock %}
{% block name %}Anthony Romano{% endblock %}
{% block image %}http://www.uclaacm.com/images/logo-acm.png{% endblock %}
{% block student_info %}
    <li>Computer Science; Graduating in 2020</li>
    <li>ACM @ Miami University: Member</li>
{% endblock %}
{% block facts %}
    <li>Second Degree Black Belt in Tae-Kwon-Do</li>
    <li>2 years experience in various other fighting sports</li>
    <li>C++ all the way</li>
{% endblock %}
{% block merch %}
<li>Coming Soon</li>
{% endblock %}
